@import '../../../../styles/variables.css';

.dashboard-controls-horizontal {
  width: 100%;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.dashboard-controls-grid {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}

.dashboard-control-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 0 1 auto;
  width: 270px;
}

.dashboard-controls-buttons {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}

.dashboard-controls-horizontal h5 {
  color: var(--text-black-color);
  margin: 0 0 8px 0;
  font-size: 14px;
  font-weight: 600;
}