@import '../../../../styles/variables.css';

.sidebar {
  margin-top: 10px;
  width: 350px;
  background-color: var(--white);
  padding: 20px;
  box-sizing: border-box;
  height: inherit;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.sidebar-buttons {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  gap: var(--padding-small);
  justify-content: center;
}

.sidebar h5 {
  color: var(--text-black-color);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color 0.3s;
}