@import '../../../../styles/variables.css';

.dashboard-controls-horizontal {
  width: 100%;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; /* added this line to make the container use full width */
}

.dashboard-controls-buttons {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}

.dashboard-controls-horizontal h5 {
  color: var(--text-black-color);
  margin: 0 0 8px 0;
  font-size: 14px;
  font-weight: 600;
}

.dashboard-controls-horizontal ul {
  list-style: none;
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  box-sizing: border-box;
}

.dashboard-controls-horizontal li {
  padding: var(--padding-small) var(--padding-medium);
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color 0.3s;
  border: 1px solid var(--secondary-hover-color);
    background: var(--white);
  }
  
  .dashboard-controls-horizontal li:hover {
    background-color: var(--neutral-light);
    border-color: var(--primary-color);
  }
  
  .dashboard-controls-horizontal li.active {
    background-color: var(--primary-color);
    color: var(--white);
    border-color: var(--primary-color);
}