@import '../../styles/variables.css';

/* Footer */
.footer {
    text-align: center;
    padding: 1rem;
    background: var(--footer-gradient);
    color: var(--text-color);
    animation: fadeIn 1.5s ease-in-out;
    margin-top: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}