@import '../../styles/variables.css';

.dashboard-page {
  display: flex;
  flex-direction: column;
  background: var(--background-report);
  height: 100vh;
}

.dashboard-page h1 {
  color: var(--primary-color);
}

.dashboard-page p {
  color: var(--primary-hover-color);
}

.chart-selector-section {
  width: 100%;
  background: var(--white);
  box-sizing: border-box;
  height: fit-content;
  margin-bottom: 0;
}
.dashboard-main-content {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}
.main-content {
  flex: 1;
  box-sizing: border-box;
  overflow-y: auto;
  height: inherit;
  margin-bottom: 5px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
    align-items: center;
}

.switch-button-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}

.image-column {
  flex: 0 0 auto;
  width: 315px;
  max-height: 82vh;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  background: var(--white);
}

.image-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.image-row img {
  border-radius: 4px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}