@import '../../styles/variables.css';

.dashboard-page {
  display: flex;
  flex-direction: row;
  background: var(--background-report);
}

.dashboard-page h1 {
  color: var(--primary-color);
}

.dashboard-page p {
  color: var(--primary-hover-color);
}

.main-content {
  margin-top: 10px;
  flex: 1;
  box-sizing: border-box;
  overflow-y: auto;
  height: inherit;
  margin-bottom: 5px;
  margin-left: 5px;
}

.switch-button-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}

.image-column {
  flex: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  background: var(--white);
}

.image-row img {
  border-radius: 4px;
  max-width: 500px;
  height: auto;
}