@import '../../styles/variables.css';

.dashboard-page {
  display: flex;
  flex-direction: row;
}

.dashboard-page h1 {
  color: var(--primary-color);
}

.dashboard-page p {
  color: var(--primary-hover-color);
}

.main-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  height: inherit;
}
.switch-button-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}