#viz-container {
    height: 340px;
    width: auto;
    max-width: 80%;
}

#viz-container:not(.no-margin) {
    margin: 0 auto;
}

/*Start of Crosstab specific styles*/
/*Crosstab side panel*/
#viz-container .jr-mDatatable-cellRowlabel.jr-mDatatable-cellField.jr {
    background-color: #E0D2BC;
    font-weight: bold;
    color: black;
}

/*Crosstab totals section in side panel*/
#viz-container .jr-mDatatable-cell.jr-mDatatable-cellRowlabel.jr.jr-mDatatable-cellTotal {
    background-color: #E0D2BD;
    border: 1px solid #c19a83;
}

/*Crosstab totals in main table - even row*/
#viz-container .jr-mDatatable-rowEven.jr .jr-mDatatable-cell.jr-mDatatable-cellValue.jr-mDatatable-cellTotal.jr {
    background-color: #e8dcd0;
    border: 1px solid #ad795b;
}

/*Crosstab totals in main table - odd row*/
#viz-container .jr-mDatatable-rowOdd.jr .jr-mDatatable-cell.jr-mDatatable-cellValue.jr-mDatatable-cellTotal.jr {
    background-color: #e8dcd0;
    border: 1px solid #ad795b;
}

/*Crosstab value in main table - odd row*/
#viz-container .jr-mDatatable-rowOdd.jr .jr-mDatatable-cell.jr-mDatatable-cellValue.jr {
    background-color: #F0E9E0;
    border: 1px solid #ad795b;
}

/*Crosstab value in main table - even row*/
#viz-container .jr-mDatatable-rowEven.jr .jr-mDatatable-cell.jr-mDatatable-cellValue.jr {
    background-color: #F0E9E0;
    border: 1px solid #ad795b;
}

/*Table styles*/
/*Datatable headers*/
#viz-container .jr-mDatatable-header.jr .jr-mDatatable-row.jr .jr-mDatatable-cell.jr {
    background-color: #8e5f40;
    font-size: 1.24em;
    font-weight: bold;
    color: white;
}

/*Header for cell text*/
#viz-container .jr-mDatatable-header.jr .jr-mDatatable-row.jr .jr-mDatatable-cell-text {
    padding-top: .30em;
}

/*Header for cell numbers*/
#viz-container .jr-mDatatable-header.jr .jr-mDatatable-row.jr .jr-mDatatable-cell-number {
    padding-top: .60em;
}

/*Datatable cells*/
#viz-container .jr-mDatatable-cell.jr {
    color: black;
    font-size: 1.14em;
    border: none;
}

/*Datatable text style*/
#viz-container .jr-mDatatable-cell-text.jr {
    line-height: 25px;
}

/*Datatable odd row*/
#viz-container .jr-mDatatable-rowOdd.jr .jr-mDatatable-cell.jr.jr-jHyperLink {
    background-color: #F0E9E0;
}

/*Datatable even row*/
#viz-container .jr-mDatatable-rowEven.jr .jr-mDatatable-cell.jr.jr-jHyperLink {
    background-color: #E5DACD;
}

/*Datatable row header (when data is in group section of ad hoc view)*/
#viz-container .jr-mDatatable-cell.jr.jr-jHyperLink {
    background-color: #E0D2BC;
}

#viz-container #JR_PAGE_ANCHOR_0_1 {
    width: -webkit-fill-available !important;
}