@import '../../styles/variables.css';
.sidebar {
  width: 350px;
  background-color: var(--background-gradient);
  padding: 20px;
  box-sizing: border-box;
  height: inherit;
  overflow-y: auto;
}

.sidebar h2 {
  margin-top: 0;
  color: var(--primary-color);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color 0.3s;
}
