@import '../../styles/variables.css';

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: var(--white); */
        color: var(--primary-color);
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

.hero-content h1 {
    font-size: var(--font-large);
    margin-bottom: 1rem;
    animation: slideIn 1.5s ease-in-out;
}

.hero-content p {
    font-size: var(--font-medium);
    margin-bottom: 2rem;
    animation: slideIn 1.5s ease-in-out 0.5s;
}

.cta-button {
    padding: var(--padding-small) var(--padding-medium);
    font-size: var(--font-small);
    color: var(--text-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--secondary-hover-color);
}