@import './variables.css';

.btn {
  padding: var(--padding-small) var(--padding-medium);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center; /* Center text horizontally */
  line-height: 28px; /* Match the button height for vertical centering */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis if text overflows */

  /* font-family: "Source Sans Pro"; */
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 18.66px; /* 133.286% */
}

.btn-primary {
  background-color: var(--background-btn-primary-color);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--primary-hover-color);
}

.btn-secondary {
  background-color: var(--background-btn-secondary-color);
  color: var(--btn-secondary-text-color);
}

.btn-secondary:hover {
  background-color: var(--secondary-hover-color);
}

.btn-accent {
  background-color: var(--accent-color);
  color: var(--neutral-dark);
}

.btn-accent:hover {
  filter: brightness(1.2);
}

.btn-outline {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.btn-outline:hover {
  background-color: var(--primary-color);
  color: var(--white);
}
