/* SwitchButton.css */

@import '../../styles/variables.css';

.switch-button {
    padding: 5px 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch-button-text {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.switch-button-checkbox {
    display: none;
}

.switch-button-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    background-color: var(--light-gray);
    transition: background-color 0.25s ease-in-out;
    position: relative;
    height: 12px;
    width: 25px;
}

.switch-button-label .switch-button-inner {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.switch-button-label .switch-button-switch {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: var(--primary-color);
    border: 1px solid var(--white);
    left: 0;
    border-radius: 50%;
    transition: transform 0.25s ease-in-out;
    z-index: 1;
}

.switch-button-checkbox:checked+.switch-button-label {
    background-color: var(--primary-color);
}

.switch-button-checkbox:checked+.switch-button-label .switch-button-inner {
    background-color: var(--primary-color);
}

.switch-button-checkbox:checked+.switch-button-label .switch-button-switch {
    transform: translateX(12px);
    background-color: var(--white);
}