@import '../../styles/variables.css';

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--background-gradient);
    color: var(--text-color);
    animation: fadeIn 1.5s ease-in-out;
}

.navbar .logo img {
    width: auto;
    height: 26px;
    transform: rotate(180deg);
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-links:not(.logo) {
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--neutral-medium);
}